@charset "utf-8";
/* CSS Document */

/*body {
	background-image: url("../images/Background.jpg");
}*/


h1, h2, h3 {
	color: white;
}

.main_container_Home {
	display: flex;
  	flex-direction: column;
 	align-items: flex-start;
	padding-top: 5vh;
	
	height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.elevator {
	cursor: pointer;
	display: none;
}

.modal {
	--bs-modal-width: 289px;
}

.modal-content .modal-body {
	margin: 0;
	padding: 0;
}

.broomstation {
	cursor: url(https://www.svgrepo.com/show/196375/broom.svg), auto;
	height: 100vh;
}

.letters {
	position: absolute;
}

.basket {
	cursor: pointer;
}

.contenedor {
	background-image: url("../images/Background.jpg");
}

.footer {
	background-image: url("../images/floor_texture.jpg");
}


* {
  box-sizing: border-box;
}

.sticker {
  --c1: #ef548f;
  --c2: #ef8b6d;
  --c3: #cfef6b;
  --c4: #3bf0c1;
  --c5: #bb4af0;
  --shine-angle: 15deg;
  display: inline-grid;
  grid-template-areas: "text";
  place-items: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: clamp(3rem, 15vw, 10rem);
  text-transform: uppercase;
  color: var(--c5);
}
.sticker-lg {
  font-size: clamp(6rem, 30vw, 20rem);
}
.sticker span {
  background: linear-gradient(var(--shine-angle), rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 35%, rgba(255, 255, 255, 0.98) 49.95%, rgba(255, 255, 255, 0.98) 50.15%, rgba(255, 0, 0, 0) 65%, rgba(255, 0, 0, 0)), linear-gradient(to right, var(--c1), var(--c2), var(--c3), var(--c4), var(--c5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.6);
}
.sticker > *, .sticker::before, .sticker::after {
  grid-area: text;
}
.sticker::before, .sticker::after {
  content: attr(data-text);
  color: #fff;
}
.sticker::before {
  -webkit-text-stroke: 0.21em white;
  background: no-repeat linear-gradient(white, white) 15% 50%/85% 60%;
}
.sticker::after {
  text-shadow: 0.07em 0.08em 0.05em rgba(0, 0, 0, 0.75), -0.07em -0.05em 0.05em rgba(0, 0, 0, 0.75);
  z-index: -2;
}

.name {
  --h: 1.2em;   

  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 calc(-1*var(--_t, 0em)) #000, 
    0 calc(var(--h) - var(--_t, 0em)) #1095c1;
  overflow: hidden;
  transition: .3s;
	
	cursor: pointer;
	margin-top: 2rem;
}

.name:hover {
  --_t: var(--h);
}

.name_keepHovering1 {
	--_t: var(--h);
}

.name_keepHovering2 {
	--_t: var(--h);
}

.pt-0 {
	background-color: white;
	border: medium solid black;
	border-radius: 10px;
}

.pt1 {
    background-size: 50px 50px;
    background-color: #0ae;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.pt2 {
	background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
                      linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
    background-size: 30px 30px;
}

.cake_layer_bg_top, .cake_layer_bg_base, .cake_layer_bg_center {
	cursor: pointer;
}

.cake_decor_bg_top, .cake_decor_bg_base, .cake_decor_bg_center {
	cursor: pointer;
}

.cake_topping {
	cursor: pointer;
}

#CakeLayer1 {
	background-repeat: no-repeat;
	background-position: center;
	width:527px;
	height:229px;
}

#CakeLayer2 {
	margin-top: -25px;
	margin-bottom: -25px;
	
	background-repeat: no-repeat;
	background-position: center;
	width:447px;
	height:201px;
}

#CakeLayer3 {	
	background-repeat: no-repeat;
	background-position: center;
	width:313px;
	height:142px;
}

.decors {
	display: none;
}

.toppings {
	display: none;
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
